[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scapy = "~=2.4.5"

[dev-packages]
black = "*"
isort = "~=5.10"
flake8 = "~=4.0"

[requires]
python_version = "3.10"
